.div1{
    background-color: aquamarine;
    text-align: center;

}

ol li{
    font-size: large;
    font-weight: 200;
}
.imagesetup{
    height: 300px;
    width: 500px;
}
.checkboxForm{
    height: 320px;
    width: 320px;
}